@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
.header-box {
    background-color: #3a9bc8;
    margin-top: 65px;
}
.box{
    display: flex;
}
.head1 {
    width: 65%;
    padding: 5%;
    font-size: 40px;
}
.head2 {
    width: 35%;
    padding: 5%;
}
.head2 button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #3a9bc8;
    width: 150px;
    height: 45px;
}
.main-content {
    display: flex;
    text-align: left;
    margin: 0 5%;
}
.box1 h2 {
    text-align: center;
    width: 38%;
    border-bottom: 1px solid #3a9bc8;
}
.box1 {
    width: 33.33%;
}
.sub {
    display: flex;
    opacity: 0.7;
}
.sub-box1 {
    width: 50%;
}
.sub-box2 {
    width: 50%;
}
.box1 ul {
    list-style: none;
}
.box2 h2 {
    text-align: center;
    width: 55%;
    border-bottom: 1px solid #3a9bc8;
}
.box2 {
    width: 55%;
    margin-left: 6%;
}
.box2 .content{
    margin-top: 6%;
    font-size: 15px;
    font-weight: 100;
    opacity: 0.7;
}
.box3 h2 {
    width: 40%;
    border-bottom: 1px solid #3a9bc8;
}
.box3 {
    width: 35%;
    
}
.inp-email{
    display: flex;
    height: 50px;
    width: 320px;
    border: 0.5px solid white;
    border-radius: 8px;
   
}
.email i{
    padding-left: 5px;
    opacity: 0.8;
}
.email input
{
    width: 85%;
    padding: 15px;
    border-style: none;
    background: none;
    border-width: none;
}
.email input:hover{
    color: white;
}

.subscribe{
    width: 33%;
    background-color: rgb(57, 151, 197);
    padding: 4% 5%;
    border-radius: 8px;
    font-weight: 700;
}
.box3 .icons{
    width: 100%;
    float: left;
}
.icons .social{
    float: left;
    
}
.icons .social-link{
    float: right;
    margin-top: 8px;
}
.box3 .fa-brands{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.fa-facebook-f{
    background-color: #3b5998;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 3px;
}
.fa-twitter{
    height: 35px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: #1DA1F2;
    margin-right: 3px;
}
.fa-youtube{
    height: 35px;
    border: 1px solid white;
    border-radius: 30px;
    background-color:#FF0000;
    margin-right: 3px;
}
.fa-linkedin{
    height: 35px;
    border: 1px solid white;
    border-radius: 30px;
    background-color:#0A66C2;
}
hr{
    border-style: none;
    border-top-style: solid;
    margin-top: 20px;
    opacity: 0.3;
}
footer{
    text-align: center;
    margin-top: 20px;
    opacity: 0.7;
}

/*code for responsiveness*/

@media screen and (max-width : 1200px) {
    .container{
       width: 100%;
    }
    
}

@media screen and (max-width: 992px) {
    .box{
        display: block;
    }
    .main-content{
        display: block;
    }
    .box1, .box2, .box3{
        width: 100%;
        margin: 5%;
    }
   
    .box1 .sub-box{
       display: flex;
       width: 50%;
    }
    .sub-box .sub-box1{
        width: 25%;
    }
    .sub-box .sub-box2{
        width: 25%;
    }
    .box3 h2{
        text-align: center;
    }
    .box3 .icons{
        display: block;
        margin-bottom: 5%;
    }
    .icons .social{
        width: 100%;
    }
    .icons .social-link{
       width: 100%;
    }
    footer{
        text-align: left;
        margin-left: 10%;
    }
}
@media screen and (max-width: 767px) {
    .box3 p{
        display: block;
        width: 100%;
    }
    .box2 h2{
        width: 65%;
    }
    .box3 .icons{
        display: block;
        margin-bottom: 5%;
    }
    .icons .social{
        width: 100%;
    }
    .icons .social-link{
       width: 100%;
    }
}
@media screen and (max-width: 567px) {
    .box3 .icons{
        display: block;
        margin-bottom: 5%;
    }
    .icons .social{
        width: 100%;
    }
    .icons .social-link{
       width: 100%;
    }
    .box2 h2{
        width: 65%;
    }
    
}